<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/student/create}" th:method="post" th:object="${student}">
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name">
  <br>
  <label for="surname">Surname: </label>
  <input type="text" th:field="*{surname}" id="surname">
  <br>
  <label for="group">Group: </label>
  <input type="text" th:field="*{group}" id="group">
  <br>
  <label for="age">Age: </label>
  <input type="number" th:field="*{age}" id="age">
  <br>
  <input type="submit" value="Create"/>
</form>
</body>
</html>