<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:object="${student}">
    <h3>Student has been created.</p></h3>
    <h2>Student info: </h2>
    <p th:text="'name: ' + *{name}">message</p>
    <p th:text="'surname: ' + *{surname}">message</p>
    <p th:text="'group: ' + *{group}">message</p>
    <p th:text="'age: ' + *{age}">message</p>
    <p th:text="'id: ' + *{id}">message</p>
</div>
<br>
<div>
    <a href="/student">Show all students</a>
</div>
</body>
</html>